<%= setup_context :title => I18n.t("plugins.digital_object_manager.title") %>

<div class="row">
  <div class="col-md-8">
    <h2><%= I18n.t("plugins.digital_object_manager.title") %></h2>
    <div class="digital-object-manager">
      <p><%= link_to I18n.t("plugins.digital_object_manager.actions.search"), {:controller => :digital_object_manager, :action => :search}, :class => "btn btn-default" %></p>
    </div>
  </div>
</div>

<link rel="stylesheet" type="text/css" media="all" href="<%= "#{AppConfig[:frontend_prefix]}assets/styles/digital_object_manager.css" %>"></link>
