.digital-object-manager {
	border: 1px solid #ddd;
	background-color: #fff;
	padding: 10px;
	margin-bottom: 10px;
}

.digital-object-manager h3 {
	margin: 10px 0;
}

.form-group .dom-container {
	border: 1px solid #DDD;
	padding: 10px;
	margin-bottom: 10px;
}

.dom-action {
	padding-left: 10px;
}
